* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body>.buttons {
    display: flex;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
}

button {
    padding: 20px;
    background-color: #80808078;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
}

body>#displayValue {
    background-color: black;
    border-radius: 25px;
    width: 200px;
    height: 100px;
    color: #ffffff;
    font-size: 80px;
    text-align: center;
}